extends layout

block content
  
  h1 index.html
  h3 ようこそ！
  h4 ユーザー一覧　：
  ul
   li
   a(href!=azu) #{linktext} Azhandi Usemahu
   li
   a(href!=aldo) #{linktext} Aldo Wiratama Hersan
   li
   a(href!=sugata) #{linktext} Sugata Stevan
   li
   a(href!=kane) #{linktext} Liu Kane Maxwell
  
  