<!-- this going to sever.ejs -->
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> </p>
<a href="http://localhost:3000/static/" class="btn btn-primary">Enter The Chat!</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>